@import "_mixins.scss";
body {
  background-color: orangered;
  margin: 0%;
}
.quizStart {
  height: 90%;
  width: 100%;
}
.classOne {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.question {
  text-align: center;
  text-justify: center;
  color: aquamarine;
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vh;
  background-color: orange;
}
.classRow {
  display: flex;
  @include flex-row-center;
  justify-content: space-between;
  justify-content: space-evenly;
}
.classCol {
  display: flex;
  @include flex-col-center;
  justify-content: space-between;
  justify-content: space-evenly;
}
.yes {
  text-align: center;
  text-justify: center;
  color: aquamarine;
  height: 25vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vh;
  background-color: orange;
}
.no {
  text-align: center;
  text-justify: center;
  color: aquamarine;
  height: 25vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vh;
  background-color: orange;
}
.testQuestion {
  height: 100%;
  width: 100%;
  background-color: black;
}
