@import "_mixins.scss";
@import "header.scss";
@import "monies.scss";
body {
  background-color: #060ce9;
  margin: 0%;
}
.quiz {
  height: 96.5%;
  width: 100%;
}
.createRows {
  @include flex-col-center;
  display: flex;
}
.topRows {
  height: 14vh;
  width: 16.67%;
  border: 10px solid black;
}
.prompts {
  font-size: 40px;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "ITC Korinna", bold;
}
