.monies {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.4rem 6.2rem;
  font-size: 44px;
  color: #ffff00;
  font-family: "ITC Korinna", cursive;
  position: absolute;
  background-color: #060ce9;
}
.monies:hover {
  padding: 2.4rem 6.2rem;
  background-color: yellow;
}
